#vkw_project_slideshow .icon-flamingo-project-slideshow { background-image: url(../../images/favicon.png); width: 16px; height: 16px; }
.wpb_content_element.wpb_vkw_project_slideshow > .wpb_element_wrapper { background-image: url(../../images/favicon-retina.png); background-size:40px 40px; }
